h1 GlucoList
form#f(method='GET',action='/plates/')
  p
    label List: 
    select(id='id')!= partial('plate',{collection: plates})
  p
    button(type='submit',onclick="var f = document.getElementById('f'); f.action = f.action + f.id.value;") See